h3{
	color:#ffffff;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 20px;
	text-align: center;
	margin: 0px;
	padding: 15px 10px 10px 10px;
}

.portfolio{
	color:#777777;
	background: #ffffff;
	float:left;
	margin: 25px 50px 0px 100px;
	padding: 20px;
	border: solid 1px #cccccc;
	width: 550px;
	height: 700px;
}

img.work{
	border: solid 1px #cccccc;
	margin: 10px;
	float: left;
	width: 240px;
	height: 100%;
}

.projects{
	float: left;
	height: 200px;
	width: 250px;
	margin: 10px;
}

.label{
	color: #ffffff;
	text-align: center;
	float:left;
	background:#4aaaa5;
	position: relative;
	bottom: 100px;
	height: 50px;
	width:241px;
	margin: 0px 10px 0px 10px;
}




